 <div class="jumbotron">
 {{#each sads}}                                            
        
    
               <p class="lead"> <a href="/sad/{{this._id}}">{{this.name}}</a>
             
        



{{/each}}
</div>


{{!--   <div class="jumbotron">
  <h1 class="display-3">Hey you, feeling blue?</h1>
  <p class="lead">Here are some dank recipes guaranteed to improve your mood .</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div> --}}