

    <div class="jumbotron text-center">
        <h1 class="display-3">DFEM</h>
            <hr class="my-2">
            <p class="lead">
                <h1>{{sadder.name}}</h1>
            </p>
    
            <p class="lead">{{sadder.mood}}</p>

        <div>{{sadder.ingredients}}</div>
     <div>{{sadder.directions}}</div>


             <a href="/users">Not in a Sad recipe Mood?</a>
    </div>


    