 <div class="jumbotron text-center">
 {{#each happs}}                                            
        
       
             <p class="lead">  <a href="/happy/{{this._id}}">{{this.name}}</a>
             
   {{/each}}
  


     </div>
 {{!-- {{#each sads}}                                            
        
    
               <p class="lead"> <a href="/sad/{{this._id}}">{{this.name}}</a>
             
        



{{/each}}
</div> --}}