<div>
    <h1>Desserts for Every Mood!</h1>
    <div>
        <a href="/users/new">Are you a dessert lover?!?!</a>
        <form action="/happy"> <input type="Submit" value = "Happy" ></form> 
        <form action="/angry"><input type="Submit" value = "Angry"></form>       
    </div>

</div>   