<div class="jumbotron text-center">
  <h1 class="display-3">Desserts For Every Mood</h1>
  <p class="lead">No matter if the day finds you in a funk or a fit, having just lost or wanting to quit! Are you happy or sad or feel glorious
    or blue, whatever the day has brought, remember Desserts For Every Mood</p>
  <hr class="my-4">

  <p class="lead">Are you a dessert lover?!?! Sign up
    <a class="btn btn-primary btn-sm" href="/users/new" role="button">Now</a> to access desserts that will make your day
    fancy AF.</p>





  <hr class="my-4">


  <div class= "text-center">
    <a class="btn btn-primary btn-lg" href="/happy" role="button">Happy?</a>
    <a class="btn btn-primary btn-lg" href="/angry" role="button">Angry?</a>
    <a class="btn btn-primary btn-lg" href="/sad" role="button">Sad?</a>
  </div>
</div>