<div>
    <h1>Desserts for Every Mood!</h1>
    <div>
        <a href="/users/new">Are you a dessert lover?!?! Sign up now to access desserts that will fill your fancy!</a>
        <form action="/happy"> <input type="Submit" value = "Happy" ></form> 
        <form action="/angry"><input type="Submit" value = "Angry"></form> 
         <form action="/sad"><input type="Submit" value = "Sad"></form>       
    </div>

</div>   

 