<html>
  <body>
   <div class="jumbotron"> 
  <h1 class="display-3">DFEM</h1>
    <p class="lead">This is where I will write out a description of the website.</p>
      <hr class="my-4"> 

    <p class="lead">Are you a dessert lover?!?! Sign up
     <a class="btn btn-primary btn-lg" href="/users/new" role="button">Now</a> to access desserts that will fill your fancy!.</p>
</div>
  </body>
   
</html> 

  

{{!--  <div class="jumbotron">
  <h1 class="display-3">DFEM</h1>
    <p class="lead">This is where I will write out a description of the website.</p>
      <hr class="my-4">

    <p class="lead">Are you a dessert lover?!?! Sign up
     <a class="btn btn-primary btn-lg" href="/users/new" role="button">Now</a> to access desserts that will fill your fancy!.</p>
</div> --}}



 {{!-- <div>
       <h1 class="display-3">Desserts for Every Mood!</h1>
      <p class ="lead">Desserts for Every Mood 1!
    <div> 
        <p Here You will write out a description of the website 
        ><a class="btn btn-primary btn-lg" href="/users/new" role="button">NOW</a> <p>to access desserts that will fill your fancy</p>
      <a class="btn btn-primary btn-lg" href="/happy" role="button">Happy?</a>
       <a class="btn btn-primary btn-lg" href="/angry" role="button">Angry?</a>
        <a class="btn btn-primary btn-lg" href="/sad" role="button">Sad?</a>
       --}}


      {{!--  <form action="/users/new"> <input type="Submit" value = "now" ></form>  --}}
        {{!--  <a href="/users/new">Are you a dessert lover?!?! Sign up now to access desserts that will fill your fancy!</a>  --}}
       {{!--  <form action="/happy"> <input type="Submit" value = "Happy" ></form> 
        <form action="/angry"><input type="Submit" value = "Angry"></form> 
         <form action="/sad"><input type="Submit" value = "Sad"></form>         --}}
  

        