<div>
    <h1>{{user.name}}</h1>
    <div> {{user.email}}</div>

   
    <div>
        {{!-- <a href="/users">Now Go Get Some Dessert!</a> --}}
    </div>
    <div>
        <a href="/users/{{user._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/delete">Delete</a>
    </div>
    <div>
    <a class="btn btn-primary btn-lg" href="/happy" role="button">Happy?</a>
       <a class="btn btn-primary btn-lg" href="/angry" role="button">Angry?</a>
        <a class="btn btn-primary btn-lg" href="/sad" role="button">Sad?</a>
        </div>
</div>