<div>
    <h1>{{user.name}}</h1>
    <div>email: {{user.email}}</div>

   
    <div>
        <a href="/users">Now Go Get Some Dessert!</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/delete">Delete</a>
    </div>
</div>