<div>
    <div class="jumbotron text-center">
             <h1 class="display-3">Hello, {{user.name}}</h1>
          <div>   <p class="lead">{{user.email}}</div>


   
    <div>
   
    
  <div class= "text-center">
        <a class="btn btn-primary btn-sm" href="/users/{{user._id}}/edit">Edit</a>
         <a class="btn btn-primary btn-sm" href="/users/{{user._id}}/delete">Delete</a>
    </div>
      <hr class="my-4">
    <div>
    <a href="/users">Now Go Get Some Dessert!</a> 
    </div>

</div>


