 <div class="jumbotron text-center">
 {{#each anger}}                                            
        
       
               <p class="lead">  <a href="/angry/{{this._id}}">{{this.name}}</a>
             
   {{/each}}

</div>



  
   